name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Vérifier le dépôt Git
        uses: actions/checkout@v1

      - name: Installer Node.js, NPM et Yarn
        uses: actions/setup-node@v1
        with:
          node-version: ">=14"

      - name: Construire/publier l'application Electron
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.github_token }}

          # If the commit is tagged with a version (e.g. "v1.0.0"),
          # release the app after building
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}
